.header-container {
  background-image: url("../images/background-header.png");
  padding-top: 10px;
  border: none;
  background-repeat: no-repeat;
  background-position: 3% 3%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  margin-top: 20px;
  padding-bottom: 40px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.header-content-content {
  display: flex;
  flex-direction: column;
}

.header-content-image img {
  height: 500px;
}

.logo svg {
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav-menu-item {
  position: relative;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.nav-menu-item.active {
  position: relative;
  color: #281d52;
}

.nav-menu-item.active::after {
  position: absolute;
  content: "";
  background-color: #281d52;
  width: 100%;
  height: 1.5px;
  left: 0;
  bottom: -5px;
  border-radius: 5px;
}
